@import url('https://fonts.googlepis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 'Poppins', sans-serif;
}
:root{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1.0rem;
    background: #221f2f;
    overflow: hidden;
}
body::before{
    content: "";
    position: absolute;
    width: 12.0rem;
    height: 12.0rem;
    background-color: #ed2ff0;
    left: 15%;
    top: 20%;
    filter: blur(15.0rem);
}
body::after{
    content: "";
    position: absolute;
    width: 12.0rem;
    height: 12.0rem;
    background-color: #22aBcd;
    left: 80%;
    top: 74%;
    filter: blur(15.0rem);
}
.caixa{
    width:fit-content;
    color: #fff;
    background: rgb(0, 0, 0);
    padding: 2.0rem  3.0rem;
    border-radius: 1.6rem;
    box-shadow: 0 .4rem  3.0rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(.74rem);
    -webkit-backdrop-filter: blur(.74rem);
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    text-align: center;
   
}
.caixa h1{
    margin-bottom: 2.0rem;
    font-size: 2.5rem;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2.0rem;
}
.input-group{
    position: relative;
    margin: 0 2.0rem;
}
.input-group input{
    width: 30vw;
    font-size: 1.0rem;
    color: #fff;
    padding: 2.0rem;
    background: transparent;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 5px;
}
.input-group input:hover{
    border:1px solid purple;
    transition: all 600ms;
}

.input-group label{
    position: absolute;
    top: 25%;
    left: 3.2rem;
    transform: translateX(-50%);
    font-size: 1.0rem;
    color: #fff;
    padding: 0 .5rem;
    pointer-events: none;
    font-size: 1.5rem;
    transition: all 500ms ease-out;
}
.input-group input:focus~label,
.input-group input:checked~label{
  top: -1rem;
  font-size: 1.6rem;
  background: rgb(0, 0, 0);
  box-shadow: 5px 5px 15px black;
}
.input-group input:focus{
    border:1px solid green;
    transition: all 600ms;
}